.*
!.gitignore
!.jshintrc
!.bowerrc
!.editorconfig
!.travis.yml
!.gitattributes
!.htaccess
*~
*.zip

.DS_Store
.AppleDouble
.LSOverride
Icon
*.sublime-workspace
build/

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
### SASS Ignores - "Sassy CSS" http://sass-lang.com/
*.sass-cache
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.lock

pids
logs
results

npm-debug.log
node_modules
app/src/bower_components
composer_components
COMMANDS.md
dist
app/**/*.html
documentation/*
storage

