<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="styles/main.css">
    </head>
    <body>
        <p>Katrineholm, {{ date }}</p>


        <h1>{{title}}</h1>

        {{markdown}}
            {{> body}}
        {{/markdown}}

        <p>Kind regards,<br>
        Marie Hogebrandt<br>
        Malmgatan 3<br>
        641 31 Katrineholm<br>
        Sweden<br>
        iam@mariehogebrandt.se<br>
        +4670 – 251 57 91<br>
        http://mariehogebrandt.se<br>
        http://se.linkedin.com/in/mariehogebrandt</p>
    </body>
</html>
