<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }} - Web Application Security Docs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
  </head>

  <body>

    <div style="height:11in;border: 1px solid black">
            <h1>Yo, title!</h1>

        </div>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">Web Application Security</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              {{#each pages}}
                <li><a href="/{{pagename}}"{{#is ../page.dest this.dest}} class="active"{{/is}}>{{data.title}}</a></li>
              {{/each}}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

        <div class="container">

        {{#each pages}}
                {{#markdown}}
                    {{{page}}}
                {{/markdown}}
            <div style="page-break-before:always">
            </div>
        {{/each}}
        </div> <!-- /container -->
</body>
</html>
