---
title: Lightbox tests
---
<a href="login.html" class="js-popup">Login form</a>

<h2>Galleries</h2>

<h3>Thumbnails</h3>
<figure id="image-a" class="js-thumbnail">
    <a href="http://placehold.it/600x400/0eafff/ffffff.png">
        <img alt="" src="http://placehold.it/200x200/0eafff/ffffff.png">
    </a>
    <figcaption>A pretty picture!</figcaption>
</figure>

<h3>Thumbnails gallery</h3>
<ul class="js-gallery">
    <li>
        <figure id="image-x" class="js-thumbnail">
            <a href="http://www.youtube.com/watch?v=B_zhaji9eos" class="mfp-iframe">
                <img alt="" src="http://placehold.it/200x200/0eafff/ffffff.png">
            </a>
            <figcaption>A pretty picture!</figcaption>
        </figure>
    </li>
    <li>
        <figure id="image-y" class="js-thumbnail">
            <a href="http://placehold.it/600x400/0eafff/ffffff.png">
                <img alt="" src="http://placehold.it/200x200/0eafff/ffffff.png">
            </a>
            <figcaption>Another pretty picture!</figcaption>
        </figure>
    </li>
    <li>
        <figure id="image-z" class="js-thumbnail">
            <a href="http://placehold.it/600x400/0eafff/ffffff.png">
                <img alt="" src="http://placehold.it/200x200/0eafff/ffffff.png">
            </a>
        </figure>
    </li>

</ul>
