---
title: Register
---
<form action="" method="get" id="register-form">
    <input type="hidden" name="_token" value="dashaskd">
    <fieldset>
        <legend>Required Fields</legend>
        <dl class="lining">
            <dt>
                <label for="display_name">Display Name</label>
                <small>This will be displayed as your public identity</small>
            </dt>
            <dd>
                <input type="text" id="display_name" name="display_name" placeholder="Online handle" required="required">
            </dd>
            <dt>
                <label for="email">E-mail</label>
                <small>Your e-mail will not be shared with third part or displayed, but will be used for authenticating yourself, as well as (limited and optional) communication and (optional) gravatar.</small>
            </dt>
            <dd>
                <input type="email" id="email" name="email" placeholder="your@name.com" required="required">
            </dd>
            <dt>
                <label for="password">Password</label>
                <small>This will be shown in clear text while registering (but no where else) so ensure no one else can see it. For a secure password you are required to use 10 characters, at least one capital letter, one lowercase letter and one number. You are recommended to use a special character as well.</small>
            </dt>
            <dd>
                <input type="text" id="password" name="password" placeholder="Secure Password" required="required">
            <dt>
                <label for="remember_me">Keep me logged in</label>
                <small>Do not check this if you are on a shared/public computer. It uses a cookie which will be valid for up to 14 days.</small>
            </dt>
            <dd>
                <input type="checkbox" id="remember_me" name="remember_me" value="yes">
            </dd>
        </dl>
    </fieldset>

    <div class="pot">
        <label for="username">Leave this empty</label>
        <input type="text" name="username" id="username">
        <input type="hidden" name="username_time" value="time()">
    </div>

    <button type="submit" name="register" value="register">Register</button>
</form>
