// Styles to set certain defaults
// -----------------------------------------------------------------------------
ul {
    list-style-type: square;

    ul {
        list-style-type: circle;

        ul {
            list-style-type: disc;
        }
    }
}

html * {
    @include box-sizing(border-box);
}

